@import url('https://fonts.cdnfonts.com/css/ica-rubrik-black');
@import url('https://fonts.cdnfonts.com/css/poppins');

.banner{
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.banner .slider{
    position: absolute;
    width: 180PX;
    height: 220px;
    top: 8%;
    left: 50%;
    left: calc(50% - 100px);
    transform-style: preserve-3d;
    transform: translateX(50%) perspective(1000px);
    animation: autoRun 20s linear infinite;
    z-index: 2;
}

@keyframes autoRun{
    from{
        transform: translateX(50%) perspective(1000px) rotateX(-16deg) rotateY(0deg);
    }
    to{
        transform: translateX(50%) perspective(1000px) rotateX(-16deg) rotateY(360deg);
    }
}

.banner .slider .item{
    position: absolute;
    inset: 0 0 0 0;
    transform:
     rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg))   
     translateZ(350px);
}

.banner .slider .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner .content{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    height: max-content; 
    padding-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    z-index: 1;
}

.banner .content h1{
    font-family: 'ICA Rubrik';
    font-size: clamp(40px, 10vw, 80px);
    line-height: 1em;
    color: #252838;
    position: relative;
    top: 260px;
    left: -230px;
}

.banner .content h1::after{
    position: absolute;
    inset: 0 0 0 0;
    content: attr(data-content);
    z-index: 2;
    -webkit-text-stroke: 2px #d2d2d2;
    color: transparent;
    
}

.banner .content .author{
    font-family: Poppins;
    text-align: right;
    position: absolute;
    bottom: 100px;
    right: -80px;
    max-width: 200px;
}

.banner .content .author p{
    margin: 0;
    padding: 0;
    line-height: 1.2;
}

.banner .content h2{
    font-size: clamp(20px, 4vw, 40px);
    margin: 0;
    padding: 0;
}

.banner .content .model{
    background-image: url(images/model.png);
    width: 100%;
    height: 75vh;
    position: absolute;
    bottom: 0;
    left: 0;
    background-size: auto 130%;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 1;
}

.banner .content .model {
    background-image: url(images/model.png);
    width: 100%;
    height: 60vh;
    position: absolute;
    bottom: 0;
    left: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

@media (max-width: 768px) {

    .banner .slider {
        width: 120px;
        height: 150px;
    }

    .banner .slider .item {
        transform:
            rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(220px);
    }

        .banner .content {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    
        .banner .content .author {
            text-align: center;
            margin-top: 20px;
        }
    
        .banner .content .model {
            height: 40vh;
        }
    }